* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.contain {

    overflow: hidden;
    width: 100vw;
    

}

#header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(128, 128, 128);
    position: fixed;
    top: 0;
    width: 100%;
}

.navList {
    display: flex;
    flex-direction: row;

}

.navList li {
    padding: 13px;
    list-style: none;
}

.title {
    background: url("./Images/city.jpeg") center -2% / cover;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 80px;
    justify-content: center;

}

.title h3 {
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.title h2 {
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: grey;
}

.title button {
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    padding: 14px 17px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
}

.facilities-section {

    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.facilities-section img {
    width: 100%;
    margin-bottom: 10px;

}

.facilities-box {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    padding: 20px;
    border: 1px solid #cce7d0;
    margin: 10px;
    text-align: center;
}

.facilities-box :hover {
    box-shadow: 5px 5px 54px rgba(70, 62, 221, 0.1);

}


.products-header .header {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 37px;
    margin-bottom: 37px;
    text-align: center;
}

.products-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    margin: 0 auto;

}

.parts {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
    padding: 18px;
    border-radius: 5%;
    border: 1px solid gray;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2 ease;
    text-align: center;
    color: rgb(81, 78, 78);
}

.parts:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.parts img {
    width: 100%;
    border-radius: 5%;
}



.banner {
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
    margin-top: 60px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("./Images/b1.jpg") no-repeat center center/cover;
}

.posters{
    display: flex;
    flex-direction: row;
    justify-content: center;
 padding: 30px;
  
}


.posters .poster{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    color: white;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;

  width: 600px;
 
  height: 30vh;
 
}


.poster-button {
    margin-top: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 11px 18px;
}

.poster .header{
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.poster:hover button{
    background-color: gray;
}

.small-posters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.small-posters .small-post{
    color: white;
    line-height: 1.65;
   
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   
  width: 28%;

  height: 40vh;
}







.post-1{
 
    background: url("./Images/b4.jpg") no-repeat center center/cover ;
   
  
}

.post-2{
  
    background: url("./Images/b7.jpg") no-repeat center center/cover;
  
}

.post-3{
  
    background: url("./Images/b18.jpg") no-repeat center center/cover;
}

.small-post h4{
    line-height: 1.99;
    color: rgb(195, 3, 3);

}

.newletter-section{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
    height: 25vh;
    width: 100vw;
    color: white;
  padding-left: 50px;
  padding-right: 50px;
}

 .input{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
width: 300px;
height: 44px;
}

.input-row{
    display: flex;
}

.shop-item-button{
    padding: 3px 11px;
  background-color: #000;
  color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.btn:hover button{
    background-color: gray;
}

.newsletter-writing{
    width: 80vh;
}

.footer {
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    padding: 0 45px;
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
    width: 100%;
    height: 30vh;
}


.address{
    margin-top: 20px;
}

.socialmedia-icons{
    margin-top: 20px;
    flex-direction: column;
    display: flex;

}

.logos{
    margin-top: 13px;
    display: flex;
  
    
}

.poster-1{
    background: url("./Images/b17.jpg") no-repeat center center/cover;
}

.poster-2{
    background: url("./Images/b10.jpg") no-repeat center center/cover;
}


.row{
    display: flex;
   
}
.cart-logo{
    font-size: 27px;
}


.cart-logo .cart-number{
    position: relative;
    top: -15px;
    background: #000 !important;
    color: #fff;
    border-radius: 12px;
    right: -7;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    height: 20px;
    width: 20px;
}

.cart-logo .cart-number.active{
    background-color: #CC4C4C;
}

.shop-item-details{
    display: flex;
    flex-direction: column;
}

.footer-title{
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Oswald', sans-serif;
}

.poster .poster-1 h4{
     font-family: 'Open Sans', sans-serif;
   font-family: 'Oswald', sans-serif;
}





@media (max-width: 1180px) {
    .products-part {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
        margin: 0 auto;
    }

    .input-row {
        display: flex;
    }

    .btn{
        padding: 5px 15px;
    }

    .newletter-section {
        margin-top: 40px;
        padding: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 20vh;
        width: 100vw;
        color: white;
    }
}


@media (max-width: 849px) {
    .products-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 650px;
      
        margin: 0 auto;
        
    }

    .facilities-section {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .posters {
       width: 100%;
       
    }

    .newletter-section {
        margin-top: 40px;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: black;
        height: 20vh;
        width: 100vw;
        color: white;
    }

    .posters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .input-row{
        margin-top: 30px;
        display: flex;
    }

    .small-posters{
     margin: 0 auto;
    }

    .title {
        background: url("./Images/city.jpeg") center / cover;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 60px;
        
    }


     
     
    
    



.footer {
    display: flex;
   flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    height: 50vh;
}
}




@media (max-width: 480px) {
    .products-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
        padding: 30px;
        
    }

    .facilities-section {
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding: 20px;
    }

    .banner {
        margin-top: 60px;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: url("./Images/b1.jpg") no-repeat center center/cover;
    }
    .posters {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
}

 .poster-1 h4{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;

}

.poster-button{
    margin-bottom: 43px;
}

.posters .poster{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    color: white;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
 
 width: 100%;
  
  height: 31vh;
 
}


.newletter-section {
    margin-top: 40px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    height: 30vh;
    width: 100vw;
    color: white;
    margin-bottom: 20px;


}
.btn{
    padding: 10px 13px;
    background-color: white;
}

.input {
    width: 170px;
    height: 35px;
 
}

.title {
    background: url("./Images/city.jpeg") center  / cover;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 32px;

}

.title h3 {
    font-weight: bold;
    font-size: 25px;
}

.title h2 {
    font-weight: bold;
    font-size: 30px;
    color: grey;
}

.title button {
    padding: 9px 11px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.9em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.newsletter-writing{
    font-size: 14px;
}


.footer {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 90vh;
}

.app-logo img{
    margin-top: 7px;
    width: 130px;
    height: 40px;
    border: 1px solid black;
 
}

.row {
  margin:  10px 10px;
    display: block;
}

.small-posters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin: 0 auto;
 }
 
 .small-posters .small-post{
     color: white;
     line-height: 1.65;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 
   width: 100%;
   margin-top: 10px;
   height: 20vh;
 }
}

@media (max-width: 430px) {
    .products-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 350px;
        padding: 20px;

    }
    

    .small-posters .small-post{
        color: white;
        line-height: 1.65;
       
        display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       
      width: 28%;
    
      height: 50vh;
    }

  
    .btn{
        padding: 0.1px 12px;
      
    }

    .newsletter-writing {
        font-size: 12px;
       
    }

    .posters .poster{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;


  margin-right: 10px;
  height: 26vh;
 
    }

    .content-section{
        padding: 10px;
    }
    
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1.5em;
    }
    
    .cart-row {
        
        display: flex;
      
    }
    
    .cart-item {
        width: 60%;
    }
    
    .cart-price {
        margin-left: 10px;
        width: 20%;
        font-size: 1.2em;
        color: #333;
    }
    
 
    
    .cart-item-title {
        color: #333;
        text-align: center;
        
        font-size: 1em;
    }
    
    .cart-item-image {
        width: 5px;
        height: auto;
        border-radius: 10px;
    }
    
    .btn-danger {
        padding: 10px 13px;
        margin-top: 50px;
        color: white;
        background-color: black;
        border: none;
        border-radius: .5em;
        font-weight: bold;
    }
    
    .btn-danger:hover {
        background-color: #CC4C4C;
    }
    
    .cart-quantity-input {
        height: 34px;
        width: 30px;
        border-radius: 5px;
        border: 1px solid #56CCF2;
        background-color: #eee;
        color: #333;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
       
    }
    
    .cart-row:last-child {
        border-bottom: 1px solid black;
    }
    
    .cart-row:last-child .cart-column {
        border: none;
    }
    
    .cart-total {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    .cart-total-title {
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        margin-right: 20px;
    }
    
    .cart-total-price {
        width: 20%;
        color: #333;
        font-size: 1.1em;
        text-align: center;
        
    }
    
    .btn-purchase {
        display: block;
        margin: 40px auto 80px auto;
        font-size: 1.75em;
    }

    .cart-column {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Playfair Display', serif;
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .posters{
        display: flex;
        flex-direction: row;
        justify-content: center;
     padding: 30px;
      
    }
    
    
    .posters .poster{
        font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
        color: white;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
    
      width: 100%;
     
      height: 30vh;
     
    }
    

    .posters{
        display: flex;
        flex-direction: column;
        justify-content: center;
     padding: 30px;
    }

    .cart-header {
        font-weight: bold;
        font-size: 1.25em;
        color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: rgb(128, 128, 128);
        position: fixed;
        top: 0;
        width: 100%;
    }

    .posters {
        width: 100%;
        display: flex;
        
        justify-content: center;
        align-items: center;
    }

    .shop-item-button{
        padding: 3px 11px;
      background-color: #000;
      color: white;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif;
    }



  
}




.cart-header {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.content-section{
    padding: 10px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.cart-row {
    display: flex;
  
}

.cart-item {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    width: 70%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.section-header{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.sidenav {

    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d2cece;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



